*, *:after, *:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

#wrapper{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #212121;
}

.form_container{
    width: 30%;
    height: 40%;
    background: #888;
    padding: 2rem;

    form{
        .input_box{
            width: 100%;
            height: 60px;
            margin: 20px 0;

            input{
                width: 100%;
                height: 100%;
                padding-left: 20px;
                border-radius: 10px;
                border-style: solid;
                border-width: 1px;
                border-color: #888;
            }
        }
        button{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #6c0eff;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: #6c0eff;
            color: #fff;
        }
    }
}