@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$primaryFont: 'Open Sans', sans-serif;

*, *:after, *:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-family: $primaryFont;
}

#wrapper{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #212121;
}

.form_container{
    width: 30%;
    min-height: 40%;
    background: #fff;
    border-radius: 10px;
    padding: 3rem;

    form{
        .input_box{
            width: 100%;
            height: 60px;
            margin: 20px 0;

            input{
                width: 100%;
                height: 100%;
                padding-left: 20px;
                border-radius: 10px;
                border-style: solid;
                border-width: 1px;
                border-color: #888;

                &::placeholder{
                    font-family: $primaryFont;
                }
            }
        }
        button{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #6c0eff;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: #6c0eff;
            color: #fff;
            font-size: 1rem;
        }
    }
}